body{
    background-color: grey;
  
}


#container{
    border: 2px  solid black;
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
   
   
}

/* 16 x 16  */
.gridDiv{
   
    background: white;
    border: 1px solid gray;
   
}
.gridDiv:hover{
   background-color: blueviolet;
   
}