body{
    background-color: grey;
  text-align: center;
}
h1{
    color: black;
    font-size: 3rem;
}
h2{
    display: flex;
align-items: center;
justify-content: center;
}
#container{
    border: 2px  solid black;
    display: flex;
    flex-wrap: wrap;
        
 
}

/* 16 x 16  */
.gridDiv{
    
    background: white;
    border: 1px solid white;
    transition: all .3s linear;
}
/* .gridDiv:hover{
   background-color: blueviolet;
   
} */

#p1{
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

/* change color by clicking on item */



/* change to random color  */
/* 
.square {
    background-color: #737373;
    float: left;
    position: relative;
    width: 10%;
    padding-bottom: 10%;
    margin: 1%;
} */

button{
    width: Auto;
    font-size: 2rem;
    height: 50px;
    border-radius: 8px;
   }
#buttonRandom{
background-color: blueviolet;
color: pink;
}

#buttonBlack{
    background-color: black;
    color: white;
}
#buttonGray{
     background-color: Gray;
    color: white;
}
        
#buttonWhite{
    background-color: white;
    color: black; 
}